.add-milestone {
  position: fixed;
  bottom: 40px;
  left: 150px;

  &__open, &__save {
    appearance: none;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 40px;
    color: $white;
    padding: 15px 30px;
    transition: all 0.3s ease;

    &:hover {
      background-color: darken($primary, 10%);
    }

    &--disable {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__close {
    background-color: $transparent;
    border: none;
    font-size: 24px;
    color: $red;
  }

  &__form {
    bottom: 80px;
    left: -130px;
    max-height: 0;
    position: absolute;
    background-color: $white;
    border-radius: 10px;
    overflow: hidden;
    min-width: 320px;

    select,
    input {
      width: 100%;
      padding: 15px 10px;
      border-color: lighten($dark, 40%);
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
    }

    &--active {
      max-height: 1000px;
      box-shadow: $box-shadow;
      transition: all 0.3 ease;
    }

    @include media-breakpoint-up(sm) {
      left: 0;
      min-width: 400px;
    }

    @include media-breakpoint-up(lg) {
      min-width: 500px;
    }
  }

  @include media-breakpoint-up(lg) {
    left: 550px;
  }
}
