@mixin info-visible() {
  &__info {
    max-height: 1000px;
    transition: max-height 0.3s ease-in 0s;

    .milestone {
      &__title,
      &__text {
        opacity: 1;
        transition: opacity 0.3s ease-in 0.2s;
      }
    }
  }
}

.milestone {
  border-left: 2px solid $secondary;
  padding-bottom: 70px;
  padding-left: 30px;
  position: relative;

  &__dot {
    background-color: $white;
    border-radius: 50%;
    border: 2px solid $secondary;
    cursor: pointer;
    height: 20px;
    left: -11px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease;
    width: 20px;
  }

  &__info {
    left: 30px;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: -21px;
    transition: max-height 0.2s ease-out 0.1s;

    @include media-breakpoint-up(lg) {
      left: 35px;
      top: -26px;
    }
  }

  &__month {
    display: block;
  }

  &__title {
    display: inline-block;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.2s ease-out 0s;

    @include media-breakpoint-up(lg) {
      font-size: 26px;
    }
  }

  &__text {
    text-align: right;
    margin: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out 0s;
  }

  &__erase {
    background-color: transparent;
    border: none;

    img {
      width: 18px;
    }
  }

  &--active {
    .milestone {
      &__dot {
        background-color: $secondary;
        transform: scale(1.4);
      }

      @include info-visible();
    }

    &.milestone--current {
      .milestone {
        &__dot {
          background-color: $primary;
        }
      }
    }
  }

  &--current {
    border-color: $primary;

    .milestone__dot {
      border-color: $primary;
    }

    &:hover {
      .milestone__dot {
        background-color: $primary;
      }
    }
  }

  &--featured {
    color: $red;

    .milestone {
      @include info-visible();

      &__info {
        top: 0;

        @include media-breakpoint-up(lg) {
          top: -4px;
        }
      }
    }

    .milestone__dot {
      background-color: $red;
      border-color: $red;
    }

    &:hover {
      .milestone__dot {
        background-color: $red;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-left: 35px;
  }
}
