.timeline {
  @include list-unstyled;
  margin: 0;
  margin-bottom: 100px;
  padding-top: 80px;

  &__item {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    position: relative;

    &::before {
      background-color: $secondary;
      content: "";
      display: block;
      height: 100px;
      left: 90px;
      position: absolute;
      top: -20px;
      width: 2px;

      @include media-breakpoint-up(lg) {
        left: 254px;
      }
    }

    &::after {
      background-color: $secondary;
      border-radius: 50%;
      content: "";
      cursor: pointer;
      height: 12px;
      left: 85px;
      position: absolute;
      top: 5px;
      transition: all 0.3s ease;
      width: 12px;

      @include media-breakpoint-up(lg) {
        left: 249px;
        top: 11px;
      }
    }

    &:first-child {
      &::before {
        height: 70px;
        top: 12px;
      }
    }

    &--current {
      &::before {
        background-color: $primary;
      }

      &::after {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }

  &__year {
    position: sticky;
    top: 100px;

    h2 {
      font-size: 20px;
      font-weight: $font-weight-medium;
      text-align: right;
      width: 90px;
      padding-right: 30px;
    }

    &--featured {
      h2 {
        font-weight: $font-weight-black;
      }
    }

    @include media-breakpoint-up(lg) {
      top: 66px;

      h2 {
        width: 254px;
        font-size: 32px;
        padding-right: 35px;
      }
    }
  }

  &__milestones {
    @include list-unstyled;
    margin: 0;
    width: 100%;
    padding-top: 80px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 110px;
    padding: 26px 180px 0;
  }
}
