.intro
  .intro__wrapper
    h1.mb-30 Escribamos juntos la historia de Multiplica
    p.mb-30 Comparte tus mejores momentos y échale un ojo a los de tus compañeros.
    button.intro__button Descubre nuestra historia
