mixin milestone()
  li.milestone(class!=attributes.class)
    .milestone__dot
    .milestone__info
      div.d-flex.justify-content-between.align-items-center.mb-5
        span.milestone__month Febrero
        button.milestone__erase(data-id="1")
          img(src="../assets/images/delete.png", alt="Borrar")
      h3.milestone__title Dato importante
      p.milestone__text Agregado por Jhon Doe
