// general
* {
  outline: none !important;

  &:focus {
    outline: none !important;
  }
}

.fade {
  opacity: 0;
  transition: opacity 0.3s linear;

  &.show {
    opacity: 1;
  }
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
}

main {
  padding: 20px;

  @include media-breakpoint-up(lg) {
    padding: 40px 80px;
  }
}
